.navbar .main-navbar{
	margin-bottom: 0px;
	border: none;
	background: #fff;
}

.intro-head{
	background-image: url(../img/orange-and-black-interior-artwork-ideas.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	height: 600px;
	align-content: center;
	margin-top: -30px;
	align-items: center;
	text-align: center;
}

.row .introhead1{
	text-align: center;
}

.introhead-text{
	padding-top: 200px;
	margin: 30px 30px;
	font-size: 60px;
	font-family: helvetica;
	text-align: center;
	color: #fff;
}

.headerbtn{
	margin-bottom: 50px;
}

.secondheader{
	margin: 30px 30px;
	font-size: 60px;
	font-family: helvetica;
	text-align: center;
}

.secondheaderitem {
	font-size: 20px;
}

.infosection{
	margin: 20px;
	background-color: #000;
	color: #fff;
}